/*div.input-group input.form-control{
  border-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
 }
*/
 div.input-group input.form-control{
  border-radius: 0;
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  width: 100%;
 }

 div.input-group angucomplete-alt{
  width: 100%;
}

i.my-spinner{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1050;
    color: white;
}

button{
    cursor: pointer;
}

ul.nav-tabs li.nav-item a.nav-link{
    color: #55595c;
}
