/*div.input-group input.form-control{
  border-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
 }
*/
 div.input-group input.form-control{
  border-radius: 0;
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  width: 100%;
 }

 div.input-group angucomplete-alt{
  width: 100%;
}
angucomplete-alt{
  width: 100%;
}
.multi_lines_text { white-space: pre-line; }
.cardScroll {
    overflow-y: scroll;
    height: 100px;
    position: relative;
}
div.editor {
    /*position: absolute;*/
    /*width: 500px;*/
    height: 400px;
}
query-selector {
    overflow-x: autho;
}

div.graph {
    /*position: relative;*/
    /*width: 500px;*/
    height: 900px;
    overflow-x: scroll;
}

.hyclasshead {
  background-color: black;
  color: white;
}
.hyclass {
  background-color: white;
  /*color: white;*/
}
.hyprop {
  color: 'darkorange';
}

.ace-gutter {
  background-color: #f7f7f9;
}

.editor-btn {
  font-size: 100%;
}

.card-editor {
  background-color: #e8e8e8;
}

.dont-break-out {
  max-width: 150px;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /*-ms-word-break: break-all;*/
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /*word-break: break-all;*/
  /* Instead use this non-standard one: */
  /*word-break: break-word;*/

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

table.td {
  max-width: 200px;
  word-wrap: break-word;
}
/*table.hyclass {
  color: blue;
}*/

/*            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }*/
            /*input[type="date"]:hover::-webkit-calendar-picker-indicator {
              color: red;
              /*display: inline;
            }
            input[type="date"]:hover:after {
              content: " Date Picker ";
              color: #555;
              padding-right: 5px;
            }
            input[type="date"]::-webkit-inner-spin-button {
               /*display: inline; <- Crashes Chrome on hover 
              -webkit-flex-direction: none;
              flex-direction: none;
              margin: 0;
            }*/