<div class="panel panel-default" data-spy="scroll" data-target="#publishTabs">
    <div class="panel-body" id="publishTabs">
        <ul  class="nav nav-pills mb-4" id="resultsPanel" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#helperTab" data-toggle="pill" role="tab" aria-controls="helperTab">
                Helper Tab
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#editorTab" data-toggle="pill" role="tab" aria-controls="editorTab"><i class="fa fa-book" aria-hidden="true"></i>
                    Text editor
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="helperTab" role="tabpanel">
                <div ng-include="'views/publishHelper.html'" ></div>
            </div>
            <div class="tab-pane" id="editorTab" role="tabpanel">
                <div class="editor" id="consumerEditor">some text</div>
            </div>
        </div>
    </div>
</div>