

<div typeof="rdf:Property" resource="http://schema.org/headline">
      <span class="h" property="rdfs:label">headline</span>
      <span property="rdfs:comment">Headline of the article.</span>
      <span>Domain: <a property="http://schema.org/domainIncludes" href="http://schema.org/CreativeWork">CreativeWork</a></span>
      <span>Range: <a property="http://schema.org/rangeIncludes" href="http://schema.org/Text">Text</a></span>
    </div>

    <div typeof="rdf:Property" resource="http://schema.org/articleBody">
      <span class="h" property="rdfs:label">articleBody</span>
      <span property="rdfs:comment">The actual body of the article.</span>
      <span>Domain: <a property="http://schema.org/domainIncludes" href="http://schema.org/Article">Article</a></span>
      <span>Range: <a property="http://schema.org/rangeIncludes" href="http://schema.org/Text">Text</a></span>
    </div>

     <div typeof="rdfs:Class" resource="http://schema.org/BlogPosting">
      <span class="h" property="rdfs:label">BlogPosting</span>
      <span property="rdfs:comment">A blog post.</span>
       <span>Subclass of: <a property="rdfs:subClassOf" href="http://schema.org/Article">Article</a></span>
    </div>


    <div typeof="rdfs:Class" resource="http://schema.org/Article">
      <span class="h" property="rdfs:label">Article</span>
      <span property="rdfs:comment">An article, such as a news article or piece of investigative report. Newspapers and magazines have articles of many different types and this is intended to cover them all.

      &lt;br/&gt;&lt;br/&gt;See also &lt;a href="http://blog.schema.org/2014/09/schemaorg-support-for-bibliographic_2.html"&gt;blog post&lt;/a&gt;.</span>
       <span>Subclass of: <a property="rdfs:subClassOf" href="http://schema.org/CreativeWork">CreativeWork</a></span>
       <span>Source:  <a property="dc:source" href="http://www.w3.org/wiki/WebSchemas/SchemaDotOrgSources#source_rNews">rNews</a></span>
    </div>

    <div typeof="rdf:Property" resource="http://schema.org/articleSection">
      <span class="h" property="rdfs:label">articleSection</span>
      <span property="rdfs:comment">Articles may belong to one or more &#39;sections&#39; in a magazine or newspaper, such as Sports, Lifestyle, etc.</span>
      <span>Domain: <a property="http://schema.org/domainIncludes" href="http://schema.org/Article">Article</a></span>
      <span>Range: <a property="http://schema.org/rangeIncludes" href="http://schema.org/Text">Text</a></span>
    </div>

    <div typeof="rdf:Property" resource="http://schema.org/author">
      <span class="h" property="rdfs:label">author</span>
      <span property="rdfs:comment">The author of this content. Please note that author is special in that HTML 5 provides a special mechanism for indicating authorship via the rel tag. That is equivalent to this and may be used interchangeably.</span>
      <span>Domain: <a property="http://schema.org/domainIncludes" href="http://schema.org/CreativeWork">CreativeWork</a></span>
      <span>Range: <a property="http://schema.org/rangeIncludes" href="http://schema.org/Organization">Organization</a></span>
      <span>Range: <a property="http://schema.org/rangeIncludes" href="http://schema.org/Person">Person</a></span>
    </div>

    <div typeof="rdf:Property" resource="http://schema.org/headline">
      <span class="h" property="rdfs:label">headline</span>
      <span property="rdfs:comment">Headline of the article.</span>
      <span>Domain: <a property="http://schema.org/domainIncludes" href="http://schema.org/CreativeWork">CreativeWork</a></span>
      <span>Range: <a property="http://schema.org/rangeIncludes" href="http://schema.org/Text">Text</a></span>
    </div>
