    <div ng-repeat="(key, value) in bindClassNames track by $index">
        <div class="card card-outline-primary">
        <div class="card-block">
            <h5 class="card-title text-white"> <span class="badge-pill badge-primary">Class</span>
                 <a class="" data-toggle="collapse" href="#classBind{{value.clName}}" aria-expanded="false" aria-controls="classBind{{value.clName}}">
                   {{value.clName}} <span class="text-muted"> <i class="fa fa-at" aria-hidden="true"></i> {{value.server}}</span>
                </a> <i class="fa fa-level-down" aria-hidden="true"></i>
            </h5>
            <!-- <hr></hr> -->
            <div class="collapse " id="classBind{{value.clName}}">
                <div class="card-block">
                    <p>Create a new {{value.clName}} object with it's actions and properties:
                        <br><code>var {{value.clName}}Object = new hyClass.{{value.clName}}('server base url')</code>
                    </p>
                    <p>Access a class' property by name as an object:
                        <br><code>{{value.clName}}Object.{{testProp[value.clName]}} = value;</code>
                    </p>
                    <p>
                      Use keywords next to property name to access the featues of RDFS:range, RDFS:domain, RDFS:label, HYDRA:description
                      <ul>
                        <li>RDFS:range <code>{{value.clName}}Object.{{testProp[value.clName]}}Range</code><small> {{testPropOptions[value.clName].Range}}</small> </li>
                        <li>RDFS:domain <code>{{value.clName}}Object.{{testProp[value.clName]}}Domain</code><small> {{testPropOptions[value.clName].Domain}}</small></li>
                        <li>RDFS:label <code>{{value.clName}}Object.{{testProp[value.clName]}}Label</code><small> {{testPropOptions[value.clName].Label}}</small></li>
                        <li>HYDRA:description <code>{{value.clName}}Object.{{testProp[value.clName]}}Desc</code><small> {{testPropOptions[value.clName].Desc}}</small></li>
                      </ul>
                    </p>

                    <h6 class="bg-info text-white card-header">Actions</h6>
                    <p>Actions are based on schema.org actions.</p>
                    <div class="card-footer border-0">
                        <label for="basic-url">instance id</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="form-inline mb-2 row">
                            <div ng-repeat="(actionKey, actionName) in bindActionNames[value.clName] track by $index">
                                <div class="input-group col">
                                        <div ng-if="actionName === 'schemaDelete'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceActionFunctions[value.clName](actionName)" disabled>{{actionName}}</button>
                                        </div>
                                        <div ng-if="actionName !== 'schemaDelete'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceActionFunctions[value.clName](actionName)">{{actionName}}</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <!-- <div ng-include="'views/playground/classInstance.html'"></div> -->
                    <div ng-include="'views/playground/classInstance.html'"></div>
                    </div>
                    <br>
                    <h6 class="bg-info text-white card-header">HTTP Methods</h6>
                    <p>HTTP methods on class objects require the id of the requested instance. In that way you can only GET/PUT/DELETE an instance. Other methods can be performed on the collection of the class instance. </p>
                    <div class="card-footer border-0">
                        <label for="basic-url">instance id</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="card-footer border-0">
                            <div class="form-inline mb-2 row">
                                <div ng-repeat="(methodKey, methodName) in bindMethodNames[value.clName] track by $index">
                                    <div class="input-group col">
                                        <div ng-if="methodName === 'DELETE'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceMethodFunctions[value.clName](methodName)" disabled>{{methodName}}</button>
                                        </div>
                                        <div ng-if="methodName !== 'DELETE'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceMethodFunctions[value.clName](methodName)">{{methodName}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-include="'views/playground/classInstance.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div ng-repeat="(key, value) in bindCollectionNames track by $index">
        <div class="card card-outline-info">
        <div class="card-block">
            <h5 class="card-title text-white"><span class="badge-pill badge-info">Collection</span>
                 <a class="" data-toggle="collapse" href="#collectionBind{{value}}" aria-expanded="false" aria-controls="collectionBind{{value}}">
                     {{value.clName}} <span class="text-muted"> <i class="fa fa-at" aria-hidden="true"></i> {{value.server}}</span>
                </a> <i class="fa fa-level-down" aria-hidden="true"></i>
            </h5>
            <!-- <hr></hr> -->
            <div class="collapse " id="collectionBind{{value.clName}}">
                <div class="card-block">
                    <p>Create a new {{value.clName}} object with it's actions and properties:
                        <br><code>var {{value.clName}}Object = new hyClass.{{value.clName}}('server base url')</code>
                    </p>
                    <p>Access a class' property by name as an object:
                        <br><code>{{value.clName}}Object.{{testProp[value.clName]}} = value;</code>
                    </p>
                    <p>
                      Use keywords next to property name to access the featues of RDFS:range, RDFS:domain, RDFS:label, HYDRA:description
                      <ul>
                        <li>RDFS:range <code>{{value.clName}}Object.{{testProp[value.clName]}}Range</code><small> {{testPropOptions[value.clName].Range}}</small> </li>
                        <li>RDFS:domain <code>{{value.clName}}Object.{{testProp[value.clName]}}Domain</code><small> {{testPropOptions[value.clName].Domain}}</small></li>
                        <li>RDFS:label <code>{{value.clName}}Object.{{testProp[value.clName]}}Label</code><small> {{testPropOptions[value.clName].Label}}</small></li>
                        <li>HYDRA:description <code>{{value.clName}}Object.{{testProp[value.clName]}}Desc</code><small> {{testPropOptions[value.clName].Desc}}</small></li>
                      </ul>
                    </p>

                    <h6 class="bg-info text-white card-header">Actions</h6>
                    <p>Actions are based on schema.org actions.</p>
                    <div class="card-footer border-0">
                        <label for="basic-url">instance id</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="form-inline mb-2 row">
                            <div ng-repeat="(actionKey, actionName) in bindCollectionActionNames[value.clName] track by $index">
                                <div class="input-group col">
                                        <div ng-if="actionName === 'schemaDelete'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceActionFunctions[value.clName](actionName)" disabled>{{actionName}}</button>
                                        </div>
                                        <div ng-if="actionName !== 'schemaDelete'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceActionFunctions[value.clName](actionName)">{{actionName}}</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <!-- <div ng-include="'views/playground/classInstance.html'"></div> -->
                    <div ng-include="'views/playground/classInstance.html'"></div>
                    </div>
                    <br>
                    <h6 class="bg-info text-white card-header">HTTP Methods</h6>
                    <p>HTTP methods on class objects require the id of the requested instance. In that way you can only GET/PUT/DELETE an instance. Other methods can be performed on the collection of the class instance. </p>
                    <div class="card-footer border-0">
                        <label for="basic-url">instance id</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="card-footer border-0">
                            <div class="form-inline mb-2 row">
                                <div ng-repeat="(methodKey, methodName) in bindCollectionMethodNames[value.clName] track by $index">
                                    <div class="input-group col">
                                        <div ng-if="methodName === 'DELETE'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceMethodFunctions[value.clName](methodName)" disabled>{{methodName}}</button>
                                        </div>
                                        <div ng-if="methodName !== 'DELETE'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceMethodFunctions[value.clName](methodName)">{{methodName}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-include="'views/playground/classInstance.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div ng-repeat="(key, value) in bindCustomNames track by $index">
        <div class="card card-outline-warning">
        <div class="card-block">
            <h5 class="card-title text-white"><span class="badge-pill badge-warning">Custom Binds</span>
                 <a class="" data-toggle="collapse" href="#customBind{{value}}" aria-expanded="false" aria-controls="customBind{{value}}">
                     {{value}} <span class="text-muted"> <i class="fa fa-at" aria-hidden="true"></i> {{serverUrl}}</span>
                </a> <i class="fa fa-level-down" aria-hidden="true"></i>
            </h5>
            <!-- <hr></hr> -->
            <div class="collapse " id="customBind{{value}}">
                <div class="card-block">
                    <p>Create a new {{value}} object with it's actions and properties:
                        <br><code>var {{value}}Object = new hyClass.{{value}}('server base url')</code>
                    </p>
                    <p>Access a class' property by name as an object:
                        <br><code>{{value}}Object.{{testProp[value]}} = value;</code>
                    </p>
                    <p>
                      Use keywords next to property name to access the featues of RDFS:range, RDFS:domain, RDFS:label, HYDRA:description
                      <ul>
                        <li>RDFS:range <code>{{value}}Object.{{testProp[value]}}Range</code><small> {{testPropOptions[value].Range}}</small> </li>
                        <li>RDFS:domain <code>{{value}}Object.{{testProp[value]}}Domain</code><small> {{testPropOptions[value].Domain}}</small></li>
                        <li>RDFS:label <code>{{value}}Object.{{testProp[value]}}Label</code><small> {{testPropOptions[value].Label}}</small></li>
                        <li>HYDRA:description <code>{{value}}Object.{{testProp[value]}}Desc</code><small> {{testPropOptions[value].Desc}}</small></li>
                      </ul>
                    </p>

                    <h6 class="bg-info text-white card-header">Actions</h6>
                    <p>Actions are based on schema.org actions.</p>
                    <div class="card-footer border-0">
                        <label for="basic-url">instance id</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="form-inline mb-2 row">
                            <div ng-repeat="(actionKey, actionName) in bindCustomActionNames[value] track by $index">
                                <div class="input-group col">
                                        <div ng-if="actionName === 'schemaDelete'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceActionFunctions[value](actionName)" disabled>{{actionName}}</button>
                                        </div>
                                        <div ng-if="actionName !== 'schemaDelete'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceActionFunctions[value](actionName)">{{actionName}}</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <!-- <div ng-include="'views/playground/classInstance.html'"></div> -->
                    <div ng-include="'views/playground/classInstance.html'"></div>
                    </div>
 <!--                    <br>
                    <h6 class="bg-info text-white card-header">HTTP Methods</h6>
                    <p>HTTP methods on class objects require the id of the requested instance. In that way you can only GET/PUT/DELETE an instance. Other methods can be performed on the collection of the class instance. </p>
                    <div class="card-footer border-0">
                        <label for="basic-url">instance id</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="card-footer border-0">
                            <div class="form-inline mb-2 row">
                                <div ng-repeat="(methodKey, methodName) in bindMethodNames[value] track by $index">
                                    <div class="input-group col">
                                        <div ng-if="methodName === 'DELETE'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceMethodFunctions[value](methodName)" disabled>{{methodName}}</button>
                                        </div>
                                        <div ng-if="methodName !== 'DELETE'">
                                            <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="instanceMethodFunctions[value](methodName)">{{methodName}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-include="'views/playground/classInstance.html'"></div>
                    </div> -->
                </div>
            </div>
        </div>
        </div>
    </div>

<!--     <div ng-repeat="(key, value) in bindCollectionNames track by $index">
        <h5 class="card-footer bg-primary text-white">
            <a class="text-white" data-toggle="collapse" href="#collecionBind{{value}}" aria-expanded="false" aria-controls="collecionBind{{value}}">
              Collection: {{serverUrl}} {{value}}
            </a>  <i class="fa fa-level-down" aria-hidden="true"></i>
        </h5>
        <div class="collapse" id="collecionBind{{value}}">
            <div class="card card-outline-primary">
                <div class="card-block">
                    <p>Create a new {{value}} object with it's actions and properties:
                        <br><code>var {{value}}Object = new hyCollection.{{value}}('server base url')</code>
                    </p>
                    <h6 class="bg-info text-white card-header">Actions</h6>
                    <p>Actions are based on schema.org actions.</p>
                    <div class="card-footer border-0">
                        <label for="basic-url">collection url</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users?</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="form-inline mb-2 row">
                            <div ng-repeat="(actionKey, actionName) in bindCollectionActionNames[value] track by $index">
                                <div class="input-group col">
                                    <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="">{{actionName}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6 class="bg-info text-white card-header">HTTP Methods</h6>
                    <p>HTTP methods on class objects require the id of the requested instance. In that way you can only GET/PUT/DELETE an instance. Other methods can be performed on the collection of the class instance. </p>
                    <div class="card-footer border-0">
                        <label for="basic-url">collection url</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">https://example.com/users?</span>
                            <input type="text" id="basic-url" aria-describedby="basic-addon3" name="instanceMethod" placeholder="1" class="form-control" ng-model="instanceId">
                        </div>
                        <div class="card-footer border-0">
                            <div class="form-inline mb-2 row">
                                <div ng-repeat="(methodKey, methodName) in bindCollectionMethodNames[value] track by $index">
                                    <div class="input-group col">
                                        <button class="btn btn-sm btn-primary text-left editor-btn mr-1" ng-click="">{{methodName}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->