<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
 <!-- <p>This is custom</p> -->
  <input ng-model="searchStr"
    ng-disabled="disableInput"
    type="text"
    placeholder="{{placeholder}}"
    ng-focus="onFocusHandler()"
    class="{{inputClass}}"
    ng-focus="resetHideResults()"
    ng-blur="hideResults($event)"
    object-data="{{selected-object-data}}"
    autocapitalize="off"
    autocorrect="off"
    autocomplete="off"
    ng-change="inputChangeHandler(searchStr)"/>
  <div class="angucomplete-dropdown" ng-show="showDropdown">
    <div class="angucomplete-searching" ng-show="searching">
      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i> searching...
    </div>
    <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)">
      <i class="fa fa-frown-o" aria-hidden="true" ng-bind="textNoResults"></i>
    </div>
    <div class="angucomplete-row" ng-repeat="(key,result) in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
      <div>
        <div class="angucomplete-title" ng-if="matchClass">
          Class: <strong> {{result['originalObject']['label']}}</strong>
        </div>
        <div class="angucomplete-title" ng-if="!matchClass">Class: {{ result['originalObject']['label'] }}</div>
        <!-- <h6>IATA code: {{ result.title }}</h6> -->
        <p>Class description: {{result['originalObject']['comment']}}</p>
        <i class="fa fa-link" aria-hidden="true"></i><a target="_blank" href="{{result['originalObject']['iri']}}">  dereference </a>
      </div>
          <!-- <div ng-if="result.address"> -->
            <!-- <div ng-if="result.address.addressLocality"> -->
      <div ng-if="imageField" class="angucomplete-image-holder">
        <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
        <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
      </div>
    </div>
    <div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
      <div class="angucomplete-title">Custom Class '{{ searchStr }}'</div>
    </div>
  </div>
</div>
