<h4>Search Parameters</h4>
<div class="panel panel-default" data-spy="scroll" data-target="#cardy">
    <div class="panel-body" id="cardy">
        <ul  class="nav nav-pills mb-4" id="resultsPanel" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#selectVocab" data-toggle="pill" role="tab" aria-controls="selectVocab"><i class="fa fa-book" aria-hidden="true"></i>
                    Select Vocabularies and Classes <span class="badge badge-pill badge-primary">{{selectClassLength}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#namedGraph" data-toggle="pill" role="tab" aria-controls="namedGraph">
                    Select Known Graph <span class="badge badge-pill badge-primary"></span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
             <div class="tab-pane active" id="selectVocab" role="tabpanel">
                <div ng-include="'views/playground/selectVocabAndClass.html'" ></div>
            </div>
            <div class="tab-pane " id="namedGraph" role="tabpanel">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            Search known graph
                        </h5>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label for="namedGraph">Have a look at a given graph describing an API.</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-link" aria-hidden="true"></i></div>
                                <input type="url" class="form-control" id="namedGraph" aria-describedby="namedGraph" value=""  ng-model="namedGraph">
                            </div>
                            <small id="namedGraph" class="form-text text-muted">We need the exact URL of the graph.</small>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" ng-click="fetchGraph(namedGraph)"><i class="fa fa-search" aria-hidden="true"></i> Fetch WebAPI Graph</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div ng-show="graphDesc.length">
    <hr></hr>
    <h4>WebAPI descriptions
        <span class="badge badge-pill badge-default">{{graphDesc.length}}</span>
    </h4>
    <div class="panel panel-default" data-spy="scroll" data-target="#cardy">
        <div class="panel-body" id="cardy">
            <div ng-show="graphDesc">
                <div class="row">
                    <div ng-repeat="desc in graphDesc">
                        <div hy-Api-Desc desc=desc>testfl </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>