
<div ng-if="true">
    <div ng-if="responseCode === 200">
        <div class="card-block card-success border-0">
        <h6>Response Field</h6>
        Properties
        <div class="card-footer">
            <div ng-repeat="(propertyName, propertyObj) in instanceResult[value].classLits.properties track by $index">
                <div class="input-group">
                    <span class="input-group-addon" id="{{propertyName}}-addon3">{{propertyName}}</span>
                    <input type="text" id="basic-url" aria-describedby="{{propertyName}}-addon3" name="instanceMethod"  class="form-control" ng-model=instanceResult[value][propertyName]>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div ng-if="responseCode === 0">
        <div class="card-footer card-info border-0">
            <h6>Response Field</h6>
        </div>
    </div>
    <div ng-if="(responseCode !== 200)&&(responseCode !== 0)">
        <div class="card-footer card-warning border-0">
        <h6>Response Filed</h6>
        <p>Code: {{responseCode}}</p>
        Data
        <ul class="">
            <div ng-repeat="(propertyName, propertyObj) in responseData track by $index">
                <div ng-if="propertyName !== 'trace'">
                   <li> {{propertyName}} : {{propertyObj}}</li>
                </div>
            </div>
        </ul>
        </div>
    </div>
</div>