 <p class="text-justify">
    As a developer you can load your desired API directly, or query the API-Resolver for the desired classes.
    <br>You can query the desired data model you would like to use. A Javascript library will automate the process and create the required bindings for you.
    <br>Here you can check the automated API discovery. It is simplified, but you can see the potential.
</p>
<p><h5>Specify the requested classes</h5></p>
 <p class="text-justify">
    We use the JSON-LD syntax to describe the requested classes their properties and potential actions/methods.
    Currently we focus on schema.org classes as it's the most usable vocabulary across developers.
    <br>Using the familiar syntax of it's examples we are trying to bring more developers to the semantic Web beyond SEO.
</p>
<div class="card card-outline-primary d-inline-flex p-2">
  <div class="card-block">
      <pre> {{ testJson | json }}</pre>
  </div>
</div>
<p><h5>Ping API-Resolver</h5></p>
 <p class="text-justify">
    Send your request to API-Resolver and it will try to match your desired data with the ones available. The response would be a graph in JSON-LD describing the requested classes and their provider.
</p>
<div class="card card-outline-primary d-inline-flex p-2">
  <div class="card-block">
      <pre> {{ testCodeInit }}</pre>
  </div>
</div>
<p><h5>Automatic bindings</h5></p>
 <p class="text-justify">
    The library used along with API-Resolver, will parse the graph and create a list of Javascript Objects that describe those classes.
    <br>As a developer you will have to deal with those objects, instead of creating your own local data structures.
    <br>The objects have their own functions to automate the process of get/post data and writing AJax calls every time.
</p>
<div class="card card-outline-primary d-inline-flex p-2">
  <div class="card-block">
      <pre> {{ testCode }}</pre>
  </div>
</div>
<div class="card-header border-0">
    <p><h4>Requested data description</h4></p>
</div>
<div class="editor" id="consumeEditor">text editor for consumer panel</div>
<div class="card-footer text-right border-0">
    <a class="btn btn-primary" href="#tableView" ng-click="discover(consumeEditor)"><i class="fa fa-search" aria-hidden="true"></i> Fetch APIs</a>
</div>
