<table class="table">
    <thead>
        <tr class="bg-primary text-white">
            <th>method</th>
            <th>label</th>
            <th>expects</th>
            <th>returns</th>
        </tr>
    </thead>
    <tbody ng-repeat="(keyop, op) in value.operations">
        <tr>
            <td>{{op.method}}</td>
            <td>{{op.label}}</td>
            <td>{{op.expects}}</td>
            <td>{{op.returns}}</td>
        </tr>
    </tbody>
</table>