<table class="table">
    <thead>
        <tr class="bg-primary text-white">
            <th>@id</th>
            <th>@type</th>
            <th>label</th>
            <th>domain</th>
            <th>range</th>
            <!-- <th>title</th> -->
            <th>description</th>
            <th>required:write:read</th>
<!--             <th>writable</th>
            <th>readable</th> -->
        </tr>
    </thead>
    <tbody ng-repeat="(keyprop, prop) in value.properties">
        <tr>
            <td><abbr title="{{prop.id}}">{{toClassNameSimple(prop.id)}}</abbr></td>
            <td><abbr title="{{prop.types[0]}}">{{toClassNameSimple(prop.types[0])}}</abbr></td>
            <td>{{prop.label}}</td>
            <td><abbr title="{{prop.domain}}">{{toClassNameSimple(prop.domain)}}</abbr></td>
            <td><abbr title="{{prop.range}}">{{toClassNameSimple(prop.range)}}</abbr></td>
            <!-- <td>{{prop.title}}</td> -->
            <td>{{prop.description}}</td>
            <td class="text-center">
                <span ng-if="!(prop.required)">
                    <i class="fa fa-times" aria-hidden="true">:</i>
                </span>
                <span ng-if="prop.required">
                    <i class="fa fa-check">:</i>
                </span>
                <span ng-if="!(prop.writable)">
                    <i class="fa fa-times" aria-hidden="true">:</i>
                </span>
                <span ng-if="prop.writable">
                    <i class="fa fa-check">:</i>
                </span>
                <span ng-if="!(prop.readable)">
                    <i class="fa fa-times" aria-hidden="true">:</i>
                  </span>
                <span ng-if="prop.readable">
                    <i class="fa fa-check"></i>
                </span>
            </td>
   <!--          <td>{{prop.writable}}</td>
            <td>{{prop.readable}}</td> -->
        </tr>
    </tbody>
</table>