<form>
    <div class="form-group">
        <label for="vocab">Base URL</label>
        <input type="url" class="form-control" id="vocab" aria-describedby="baseHelp" value=""  ng-model="baseURL">
        <small id="baseHelp" class="form-text text-muted">This is your base URL, where this graph is served, and anyone can dereference the semantics below.</small>
    </div>
    <div class="mb-4">
        <h6> Select desired vocabularies: </h6>
        <div class="form-check">
            <ul ng-repeat="(key,obj) in publishVocabs">
                <li>
                    <label>
                        <input type="checkbox" ng-change="loadVocs(obj,key)" class="form-check-input" ng-model="obj.selected">
                        <a href="{{obj.url}}" data-trigger="hover focus" data-toggle="popover" data-placement="top" title="Vocabulary description" data-content="{{obj.description}}">{{key}}</a>
                    </label>
                </li>
            </ul>
                <button type="submit" class="btn btn-primary" ng-click="loadVocs(publishVocabs,key)"><i class="fa fa-search" aria-hidden="true"></i> Load vocabularies</button>
        </div>
    </div>
    <div class="mb-4">
        <label for="test2"> Pick the classes that best describe your data entity </label>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
             <angucomplete-alt id="test1"
                    placeholder="Search class"
                    local-data="loadedClasses"
                    selected-object="publishLoadClass"
                    local-search="publishClassSearch"
                    title-field="publishClass"
                    focus-first=true
                    pause="300"
                    template-url="views/playground/autocompletePublishClass.html"
                    image-field="pic"
                    minlength="3"
                    maxlength="10"
                    input-class="form-control"
                    match-class="highlight" />
        </div>
        <div id="properties-container" class="mt-4">
            <p> Selected Classes </p>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Class</th>
                        <th>Description</th>
                        <th>Actions/Operations</th>
                        <th>Properties</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,obj) in publishedClasses" data-selected="false">
                        <td><a href="#"><i class="fa fa-check"></i></a></td>
                        <td>{{ obj["label"]}}</td>
                        <td class="text-justify">{{ obj["comment"] }}</td>
                        <td class="text-justify"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#operation{{obj.label}}">Edit</button></td>
                        <td class="text-justify"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#props{{obj.label}}">Edit properties</button></td>


                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="publishGraph(publishedClasses)"><i class="fa fa-search" aria-hidden="true"></i> Publish Graph</button>
</form>

<!-- operations Modal -->
<div ng-repeat="(key,obj) in publishedClasses" >

<div class="modal fade" id="operation{{obj.label}}" tabindex="-1" role="dialog" aria-labelledby="operationModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="operationModal">{{obj["label"]}} Operations</h5>
      </div>
      <div class="card">
      <div class="card-block">
              <table class="table">
                <thead>
                    <tr>
                        <th class="text-justify">Action</th>
                        <th class="text-justify">HTTP Method</th>
                        <th class="text-justify">Selected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-justify">FindAction</td>
                        <td class="text-justify">GET</td>
                        <td class="text-justify"><input type="checkbox" class="form-check-input" ng-model="publishedClasses[key].operations.get.selected"></td>
                    </tr>
                    <tr>
                        <td class="text-justify">DeleteAction</td>
                        <td class="text-justify">DELETE</td>
                        <td class="text-justify"><input type="checkbox" class="form-check-input" ng-model="publishedClasses[key].operations.delete.selected"></td>
                    </tr> 
                    <tr>
                        <td class="text-justify">UpdateAction</td>
                        <td class="text-justify">PUT</td>
                        <td class="text-justify"><input type="checkbox" class="form-check-input" ng-model="publishedClasses[key].operations.put.selected"></td>
                    </tr>
                    <tr>
                        <td class="text-justify">CreateAction</td>
                        <td class="text-justify">POST</td>
                        <td class="text-justify"><input type="checkbox" class="form-check-input" ng-model="publishedClasses[key].operations.post.selected"></td>
                    </tr>
                </tbody>
            </table>
            <h6>SearcAction!</h6>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>

<!-- Modal -->
<div ng-repeat="(key,obj) in publishedClasses" >
<div class="modal fade" id="props{{obj.label}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{obj["label"]}} Properties</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ng-repeat="(k, value) in publishedClasses[key]['properties']">
        <div id="{{obj.label}}MainAccordion" role="tablist" aria-multiselectable="true">
          <div ng-repeat="(cl, props) in value">
              <div class="card">
                <div class="card-header" role="tab" id="{{toClassNameSimple(cl)}}Head">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#{{obj.label}}MainAccordion" href="#{{toClassNameSimple(cl)}}Class" aria-expanded="true" aria-controls="{{toClassNameSimple(cl)}}Class">
                    {{cl}}</a>
                  </h5>
                </div>
                <div id="{{toClassNameSimple(cl)}}Class" class="collapse show" role="tabpanel" aria-labelledby="{{toClassNameSimple(cl)}}Head">
                  <div class="card-block">

                    <div id="{{toClassNameSimple(cl)}}Accordion" role="tablist" aria-multiselectable="true">
                    <div ng-repeat="(property, meta) in props">
                        <strong>
                        <h6>
                        <label>
                            <input type="checkbox" class="form-check-input pull-right" ng-model="meta.selected">
                          <a data-toggle="collapse" data-parent="#{{toClassNameSimple(cl)}}Accordion" href="#{{toClassNameSimple(property)}}Class" aria-expanded="true" aria-controls="{{toClassNameSimple(property)}}Class">
                                  {{property}}</a>{{meta.selected}}
                        </label>
                        </strong>
                        </h6>
                        <div id="{{toClassNameSimple(property)}}Class" class="collapse show" role="tabpanel" aria-labelledby="{{toClassNameSimple(property)}}Head">
                            <div hy-Property property=meta></div>
                            <hr></hr>
                        </div>
                    </div>

                    </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>