<div class="panel panel-default" data-spy="scroll" data-target="#publishTabs">
    <div class="panel-body" id="publishTabs">
        <ul  class="nav nav-pills mb-4" id="publishPanel" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#helperTab" data-toggle="pill" role="tab" aria-controls="helperTab">
                Helper Tab
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#editorTab" data-toggle="pill" role="tab" aria-controls="editorTab"><i class="fa fa-book" aria-hidden="true"></i>
                    Text editor
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="helperTab" role="tabpanel">
                <div ng-include="'views/playground/publishHelper.html'" ></div>
            </div>
            <div class="tab-pane" id="editorTab" role="tabpanel">
                <div class="card">
                    <div class="card-header border-0">
                        <h4>Text editor</h4>
                    </div>
                    <div class="editor" id="publishEditor">some text</div>
                    <div class="card-footer text-right border-0">
                        <a class="btn btn-primary" href="#tableView" ng-click="discover()"><i class="fa fa-search" aria-hidden="true"></i> Fetch APIs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- border-0 -->