<div id="accordionClassSelect" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                Vocabularies and classes
            </h5>
        </div>
        <div class="card-block">
            <div class="mb-4">
                <h6> Select desired vocabularies: </h6>
                <div class="form-check">
                    <ul ng-repeat="(key,obj) in vocabArray">
                        <li>
                            <label>
                                <input type="checkbox" class="form-check-input" ng-model="obj.selected"> 
                                <a href="{{obj.url}}" data-trigger="hover focus" data-toggle="popover" data-placement="top" title="Vocabulary description" data-content="{{obj.description}}">{{obj.title}}</a>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- <p>colors: {{vocabArray}}</p> -->
            </div>
            <div class="mb-4">
                <label for="browseAutocomplete"> Search classes </label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <angucomplete-alt id="browseAutocomplete"
                                      placeholder="flight"
                                      selected-object="loadClass"
                                      remote-api-handler="serverClassSearch"
                                      title-field="iataCode"
                                      focus-first=true
                                      pause="300"
                                      template-url="views/playground/autocompleteServerClass.html"
                                      image-field="pic"
                                      minlength="3"
                                      maxlength="10"
                                      input-class="form-control"
                                      match-class="highlight" />
                </div>
            </div>
            <hr>
            <div id="offer-results-test">
                <h6> Selected classes </h6>
                <div ng-repeat="(vocKey,vocObj) in browseQuery">
                    <ul ng-repeat="(clKey,clObj) in vocObj">
                        <li>
                            <label>
                            <input type="checkbox" class="form-check-input" ng-model="browseQuery[vocKey][clKey]">
                            <a target="_blank" href="{{clKey}}" data-trigger="hover focus" data-toggle="popover" data-placement="top" title="Vocabulary description" data-content="lalalalalal">{{clKey}}</a>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" ng-click="fetchAPIDescription(browseQuery)"><i class="fa fa-search" aria-hidden="true"></i> Search Graphs</button>
        </div>
    </div>
</div>