<!-- <div style="overflow-x: scroll;"> -->
    <table class="table " style="border-collapse:collapse;">
        <thead>
          <tr class="hyclasshead">
            <th>@id</th>
            <th>@type</th>
            <th>label</th>
          </tr>
        </thead>
        <tbody ng-repeat="(key, value) in apiClassLiterals track by $index">
            <tr data-toggle="collapse" data-target="#row{{$index}}" class="accordion-toggle hyclass ">
                <td class="text-success">{{key}}</td>
                <td class="text-danger">{{value.literals.classTypes[0]}}</td>
                <td>{{value.literals.title}}</td>
            </tr>
            <tr>
                <td colspan="12"  class="hiddenRow bg-faded" data-toggle="collapse">
                  <div id="row{{$index}}" class="collapse">
                    <h4 class="text-center">Supported Properties</h4>
                        <div ng-include="'views/playground/propTable.html'" ></div>
                    <h4 class="text-center">Supported Operations</h4>
                        <div ng-include="'views/playground/operationTable.html'" ></div>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
<!-- </div> -->
