<div ng-show="retrievedAirport">
<!-- <div class="container" > -->
<b>{{datatest}}</b>
<div ng-bind-html-unsafe="retrievedAirport">

    <!-- <div ng-repeat="(index,array) in dataout track by $index"  > -->
    <div ng-repeat="(instance,obj) in retrievedAirport track by $index"  >
<!--     <b></b>
    <b>{{instance}}</b> -->
        <div ng-repeat="(props,values) in obj track by $index">
            <div ng-if="props!='@type'">
              <div ng-if="props=='@id'">
                <a>URL: {{ values }}</a>
              </div>
              <div class="form-inline">
              <pre>
              <label> {{props}} </label> {{values}}
              </pre>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
<!-- </div> -->

