<h2 class="my-4">Search Results</h2>
<div data-spy="scroll" data-target="#cardy">
    <div id="cardy" class="mb-5">
        <ul id="resultsPanel" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#flights" data-toggle="tab" role="tab" aria-controls="flights">
                    <i class="fa fa-plane mr-1" aria-hidden="true"></i>
                    Flights <span class="ml-1 badge badge-secondary">{{offersLength}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#hotels" data-toggle="tab" role="tab" aria-controls="hotels">
                    <i class="fa fa-bed mr-1" aria-hidden="true"></i>
                    Hotels <span class="ml-1 badge badge-secondary">{{hotelsLength}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pois" data-toggle="tab" role="tab" aria-controls="pois">
                    <i class="fa fa-map-pin mr-1" aria-hidden="true"></i>
                    Points Of Interests <span class="ml-1 badge badge-secondary">{{poisLength}}</span>
                </a>
            </li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="flights" role="tabpanel">
                <div ng-include="'views/agent/flight.html'" ></div>
            </div>
            <div class="tab-pane" id="hotels" role="tabpanel">
                <div ng-include="'views/agent/hotels.html'" ></div>
            </div>
            <div class="tab-pane" id="pois" role="tabpanel">
                <div ng-include="'views/agent/pois.html'" ></div>
            </div>
<!--                   <div class="tab-pane" id="airports" role="tabpanel">
                    <div ng-include="'views/agent/airports.html'" ></div>
                  </div> -->
        </div>
    </div>
</div>