<div class="alert alert-info" role="alert" ng-bind="log">
    <b>Log:</b>
    <div class="multi_lines_text">{{ log}}</div>
</div>

<div ng-show="error"  class="alert alert-danger" role="alert" ng-bind="error">
    <b>Errors:</b>
    <div class="multi_lines_text">{{ error}}</div>
</div>