<div ng-show="retrievedOffers">
    <div class="row">
        <div ng-repeat="offer in retrievedOffers">
            <div hy-Offer offer=offer>testfl </div>
            <br>
        </div>
    </div>
</div>
<!-- 
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">The title</h3>
                <div class="card-text">
                    The text
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">The title</h3>
                <div class="card-text">
                    The text
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">The title</h3>
                <div class="card-text">
                    The text
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">The title</h3>
                <div class="card-text">
                    The text
                </div>
            </div>
        </div>
    </div>
</div> -->