<div ng-show="retrievedHotels">
    <div class="row">
        <div ng-repeat="hotel in retrievedHotels"  >
            <div hy-Hotel hotel=hotel>testfl </div>
            <br>
        </div>
    </div>
</div>

