<h2 class="my-4">Flight Details</h2>

<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label for="test2"> {{searchFlight.departureAirportLabel}}</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                <angucomplete-alt id="test2"
                                  placeholder="type IATA or City"
                                  selected-object="assignDepartureAirport"
                                  remote-api-handler="localSearch"
                                  title-field="iataCode"
                                  focus-first=true
                                  pause="300"
                                  template-url="views/agent/autocompleteTemplate.html"
                                  image-field="pic"
                                  minlength="3"
                                  maxlength="10"
                                  input-class="form-control"
                                  match-class="highlight" />
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="searchDepTime"> {{searchFlight.departureTimeLabel}} </label>
            <div class="input-group">
                <div class="input-group-addon "><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <input type="date" id="searchDepTime" class="form-control " style="flex-direction: inherit;" ng-model="searchFlight.departureTime">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label for="test1">{{searchFlight.arrivalAirportLabel}} </label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                <angucomplete-alt id="test1"
                                  placeholder="type IATA or City"
                                  selected-object="assignArrivalAirport"
                                  remote-api-handler="localSearch"
                                  title-field="iataCode"
                                  focus-first=true
                                  pause="300"
                                  template-url="views/agent/autocompleteTemplate.html"
                                  image-field="pic"
                                  minlength="3"
                                  maxlength="10"
                                  input-class="form-control"
                                  match-class="highlight" />
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="searchArrTime"> {{searchFlight.arrivalTimeLabel}} </label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <input type="date" id="searchArrTime" class="form-control" style="flex-direction: inherit;" ng-model="searchFlight.arrivalTime">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" ng-click="fetchOffers()"><i class="fa fa-search" aria-hidden="true"></i> Fetch Flights</button>
    </div>
</div>
<!-- style="max-height: 3rem" -->