<div ng-show="retrievedPois">
    <div class="row">
        <div ng-repeat="poi in retrievedPois"  >
            <div hy-Attraction attraction=poi>testfl </div>
            <br>
        </div>
    </div>
</div>
