<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 <meta name="description" content="USB Power Bank, 20000mAh, dual-port including 2.1A charging.">
 <meta name="author" content="Slowpreneur Inc">
 <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
 <style>.btn{margin-bottom:4px !important}</style>
 <!-- see glyficons http://getbootstrap.com/components/#glyphicons -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
 <h1><i class="fa fa-wrench" aria-hidden="true"></i> cr3a7ure's warehouse </h1>    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">
                <span class="badge badge-success">New</span> Aluminium frame and Y carriage<small> for RepRap Prusa i3 Rework variant</small>
            </h3>
        </div>
        <div class="card-block">
            <h4>Item Description</h4>
            <hr></hr>
            <p class="text-justify">
                RepRap Prusa i3 Rework variant uses the EiNSTeiN frame, which was adapted from the original Prusa design to accommodate 10mm threaded rods on Y axis.
                <br>The parts were cut with CO2 laser machine, meaning that they are not as clear as the ones cut with waterjet, and they have some signs/imperfections on their surface as you can see in the photos.
                <br>Their dimensions and drilling is right though.</p>
            <h4>Listing Details</h4>
            <hr></hr>
            <ul >
                <li>Item Condition: &nbsp&nbsp<span class="badge badge-primary badge-pill">New other</span></li>
                <li>Combined shipping:  &nbsp&nbsp<span class="badge badge-success badge-pill">Yes</span></li>
            </ul>
            <br>
            <h4>Table of Characteristics</h4>
            <hr></hr>
            <table class="table table-responsive">
                <thead>
                    <tr>
                      <th>Characteristic</th>
                      <th>Value</th>
                      <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Type</td>
                      <td>Aluminium Frame, Y carriage</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Y axis rods size</td>
                      <td>M10</td>
                      <td>This variant has M10 instead of M8 Y rods for better stability.</td>
                    </tr>
                    <tr>
                      <td>Compatibility</td>
                      <td>RepRap Prusa i3 EiNSTeiN/Rework</td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h4>Instructions</h4>
            <hr></hr>
            <p>Choose the best side of the frame. Screw the motor holders and Z axis holders.</p>
            <p>Y carriage can be used with 3mm bolts or small tire-ups for the LMU bearings.</p>

        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">
                <i class="fa fa-file-text" aria-hidden="true"></i> General Information
            </h4>
        </div>
        <div class="card-block">
            <h3>Shipping & Handling</h3>
            <hr></hr>
            <p>I usually ship on Wednesday and Friday, thus the 3 days handling time.
                <br>Shipping First Class normally reaches it's destination in a weeks time, at least for EU and USA.</p>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label"><i class="fa fa-clock-o" aria-hidden="true"></i> Handling</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">3 days max </p>
                  </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><i class="fa fa-truck" aria-hidden="true"></i> Shipping Type</label>
                <div class="col-sm-10">
                  <p class="form-control-static">First Class Priority Mail <smalll></smalll></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><i class="fa fa-calendar" aria-hidden="true"></i> Expected Time</label>
                <div class="col-sm-10">
                  <p class="form-control-static">1 week after dropoff</p>
                </div>
            </div>
            <h3>Payment</h3>
            <hr></hr>
            <p>We accept payments through paypal.</p>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><i class="fa fa-money" aria-hidden="true"></i> Payment Type</label>
                <div class="col-sm-10">
                  <p class="form-control-static">Paypal <i class="fa fa-paypal" aria-hidden="true"></i></p>
                </div>
            </div>
            <h3>Feedback and Contact</h3>
            <hr></hr>
            <p>Do not hessitate to ask anything you would like to know about the listing.
            <br>Your feedback is appreciated, do not forget it after our transaction.</p>
        </div>
        <div class="card-footer text-center">
            <h6>from makers to makers <i class="fa fa-smile-o" aria-hidden="true"></i></h6>
        </div>
    </div>
</div>