<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 <meta name="description" content="USB Power Bank, 20000mAh, dual-port including 2.1A charging.">
 <meta name="author" content="Slowpreneur Inc">
 <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
 <style>.btn{margin-bottom:4px !important}</style>
 <!-- see glyficons http://getbootstrap.com/components/#glyphicons -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
 <h1><i class="fa fa-wrench" aria-hidden="true"></i> cr3a7ure's warehouse </h1>    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">
                <span class="badge badge-success">New</span> Drop in t-Nuts<small> for 20x20 Aluminium profiles</small>
            </h3>
        </div>
        <div class="card-block">
            <h4>Item Description</h4>
            <hr></hr>
            <p class="text-justify">
                Hassle free t-nuts for your aluminium profiles.
                <br>Fast shipping and variety of choices.
                <br>Select the metric screw thread you would like.
                  M3, M4, M5 metric screw thread available.
                  Packs of 100,50,25 pieces.</p>
            <h4>Listing Details</h4>
            <hr></hr>
            <ul >
                <li>Item Condition: &nbsp&nbsp<span class="badge badge-success badge-pill">New</span></li>
                <li>Listing type:  &nbsp&nbsp<span class="badge badge-default badge-pill">Lot</span></li>
                <li>Combined shipping:  &nbsp&nbsp<span class="badge badge-success badge-pill">Yes</span></li>
            </ul>
            <br>
            <h4>Table of Characteristics</h4>
            <hr></hr>
            <table class="table table-responsive">
                <thead>
                    <tr>
                      <th>Characteristic</th>
                      <th>Value</th>
                      <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Type</td>
                      <td>Nut</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Available Metric Thread sizes</td>
                      <td>M3,M4,M5</td>
                      <td>nut size is the same, the hole/thread changes only</td>
                    </tr>
                    <tr>
                      <td>Available packs</td>
                      <td>100,50,25 pieces</td>
                      <td>The select the package that fits you. Bundle multiple packs in one order</td>
                    </tr>
                    <tr>
                      <td>Compatibility</td>
                      <td>20X20(mm)</td>
                      <td>Aluminium profiles</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h4>Instructions</h4>
            <hr></hr>
            <p>Drop in, screw and lock in place.</p>

        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">
                <i class="fa fa-file-text" aria-hidden="true"></i> General Information
            </h4>
        </div>
        <div class="card-block">
            <h3>Shipping & Handling</h3>
            <hr></hr>
            <p>I usually ship on Wednesday and Friday, thus the 3 days handling time.
                <br>Shipping First Class normally reaches it's destination in a weeks time, at least for EU and USA.</p>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label"><i class="fa fa-clock-o" aria-hidden="true"></i> Handling</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">3 days max </p>
                  </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><i class="fa fa-truck" aria-hidden="true"></i> Shipping Type</label>
                <div class="col-sm-10">
                  <p class="form-control-static">First Class Priority Mail <smalll></smalll></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><i class="fa fa-calendar" aria-hidden="true"></i> Expected Time</label>
                <div class="col-sm-10">
                  <p class="form-control-static">1 week after dropoff</p>
                </div>
            </div>
            <h3>Payment</h3>
            <hr></hr>
            <p>We accept payments through paypal.</p>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><i class="fa fa-money" aria-hidden="true"></i> Payment Type</label>
                <div class="col-sm-10">
                  <p class="form-control-static">Paypal <i class="fa fa-paypal" aria-hidden="true"></i></p>
                </div>
            </div>
            <h3>Feedback and Contact</h3>
            <hr></hr>
            <p>Do not hessitate to ask anything you would like to know about the listing.
            <br>Your feedback is appreciated, do not forget it after our transaction.</p>
        </div>
        <div class="card-footer text-center">
            <h6>from makers to makers <i class="fa fa-smile-o" aria-hidden="true"></i></h6>
        </div>
    </div>
</div>


