<h2>Search Results</h2>
<div class="panel panel-default" data-spy="scroll" data-target="#cardy">
    <div class="panel-body" id="cardy">
        <ul  class="nav nav-pills" id="resultsPanel" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#flights" data-toggle="pill" role="tab" aria-controls="flights"><i class="fa fa-plane" aria-hidden="true"></i>
                    Flights <span class="badge badge-pill badge-primary">{{offersLength}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#hotels" data-toggle="pill" role="tab" aria-controls="hotels"><i class="fa fa-bed" aria-hidden="true"></i>
                    Hotels <span class="badge badge-pill badge-primary">{{hotelsLength}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pois" data-toggle="pill" role="tab" aria-controls="pois"><i class="fa fa-map-pin" aria-hidden="true"></i>
                    Points Of Interests <span class="badge badge-pill badge-primary">{{poisLength}}</span>
                </a>
            </li>
            <!--       <li class="nav-item">
                    <a class="nav-link" href="#airports" data-toggle="pill" role="tab" aria-controls="airports">
                      Airports
                    </a>
                  </li> -->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="flights" role="tabpanel">
                <div ng-include="'views/agent/flight.html'" ></div>
            </div>
            <div class="tab-pane" id="hotels" role="tabpanel">
                <div ng-include="'views/agent/hotels.html'" ></div>
            </div>
            <div class="tab-pane" id="pois" role="tabpanel">
                <div ng-include="'views/agent/pois.html'" ></div>
            </div>
<!--                   <div class="tab-pane" id="airports" role="tabpanel">
                    <div ng-include="'views/agent/airports.html'" ></div>
                  </div> -->
        </div>
    </div>
</div>

<hr></hr>