<form class="form-group" name="createPostForm" >
    <div class="row">
        <div class="col-xs-6">
            <h4>{{input.label}}</h4>
            <div ng-repeat="(prop,obj) in input.value" ng-model=input.value>
                <div class="form-inline" ng-repeat="(propClass,val) in obj.value track by $index">
                    <label> {{val.label}} </label>
                    <input type="text" name={{propClass}} placeholder={{val.value}} class="form-control" ng-model="val.value">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h4>{{input.label}}</h4>
            <div ng-repeat="(prop,obj) in input.value" ng-model=input.value>
                <div class="form-inline" ng-repeat="(propClass,val) in obj.value track by $index">
                    <label> {{val.label}} </label>
                    <input type="text" name={{propClass}} placeholder={{val.value}} class="form-control" ng-model="val.value">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="fetchOffers()">Submit</button>
</form>

<h1>Schydra Agent</h1>
<h3>powered by Hydra and Schema.org</h3>
<form name="createPostForm" >
    <div class="form-group">
        <div class="form-inline">
            <h3>{{input.label}}</h3>
            <div ng-repeat="(prop,obj) in input.value" ng-model=input.value>
                <div ng-repeat="(propClass,val) in obj.value track by $index">
                    <label> {{val.label}} </label>
                    <textarea name={{propClass}} placeholder={{val.value}} class="form-control" ng-model="val.value"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="fetchData()">Submit</button>
</form>


<div hy-Postaladdress postal="searchAddress">test </div>



<br>
<div hy-Airport airport="arrivalAirport">testfl </div>
<br>

<form name="createPostForm" >
    <div class="form-group">
        <div hy-Flight flight="searchFlight">testfl </div>
    </div>
    <button class="btn btn-primary" ng-click="fetchOffers()">Fetch Flights</button>
</form>


<div>
</div>
<form name="iata" >
    <!-- <input type="text" name="test" placeholder="at" class="form-control" ng-model="arr.value"> on-type="fetchAirports" -->
    <autocomplete ng-model="arr.value" data="retrievedAir" no-auto-sort=true click-activation=true on-type="fetchAirports" search-property="airportObj" ></autocomplete>
    <div class="form-group">
        <div hy-Airport airport="arrivalAirport">testfl </div>

        <button class="btn btn-primary" ng-click="fetchData()">Submit</button>
</form>


<!-- <div hy-Postaladdress postal="searchAddress">test </div> -->
