<h1>Content Loaded form Schema.org Classes</h1>

<!--    <div input-place class="alert alert-danger" role="alert">
       <b>Test: <input ng-model="input.test"></b><br>
   </div> -->

<form name="createPostForm" >
    <div class="form-group">
        <div class="form-inline">
            <div ng-repeat="(className,obj) in input" ng-model="input">
                <div ng-repeat="(props,values) in obj">
                    <div ng-if="props == '@type'">
                        <b>We got schema.org Class: {{ values}}</b>
                    </div>
                    <div ng-if="(!props.includes('@'))" class="form-group">
                        <!-- <div ng-if="val==='xmls:dateTime'" class="form-group"> -->
                        <label> {{props}} </label>
                        <textarea name={{props}} placeholder={{values}} class="form-control"></textarea>
                    </div>
                    <!-- <b>We have props: {{ values }}</b> -->
                </div>
            </div>
            <!-- <div ng-if="key==='var1'" class="form-group">
                    <b>{{ val.addressLocality }}</b>
            <div ng-repeat="(key2,val2) in input.var1">
                <div ng-if="key2==='addressLocality'" class="form-group">
                    <b>{{ val2 }}</b>
                </div>
                <b>{{ val }}</b> -->
            <!-- <input type="number" name="test1" ng-model="input[key]" placeholder={{key}} class="form-control"> -->
        </div>
    </div>
    <button class="btn btn-primary" ng-click="changeValues()">Submit</button>
</form>
