<h1>Flight Search Agent, power by Hydra and Schema.org</h1>
<form name="createPostForm" >
    <div class="form-group">
        <div class="form-inline">
            <h3>{{input.label}}</h3>
            <div ng-repeat="(prop,obj) in input.value" ng-model=input.value>
                <div ng-repeat="(propClass,val) in obj.value track by $index">
                    <label> {{val.label}} </label>
                    <textarea name={{propClass}} placeholder={{val.value}} class="form-control" ng-model="val.value"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="fetchData()">Submit</button>
</form>
<form name="createPostForm" >
    <div class="form-group">
        <div class="form-inline">
            <h3>{{input.label}}</h3>
            <div ng-repeat="(prop,obj) in input.value" ng-model=input.value>
                <div ng-repeat="(propClass,val) in obj.value track by $index">
                    <label> {{val.label}} </label>
                    <textarea name={{propClass}} placeholder={{val.value}} class="form-control" ng-model="val.value"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="fetchOffers()">Submit</button>
</form>
<!-- <h2>Retrieved Data</h2>
    <div ng-show="retrievedAirport">
            <div ng-repeat="(key,obj) in retrievedAirport">
            <h3></h3>
              <label> {{obj.label}} </label>
               <textarea name={{prop}} placeholder={{obj.value}} class="form-control"></textarea>
            </div>
    </div> -->
